# Local Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files to avoid committing sensitive variables
*.tfvars

# Ignore the .terraform directory, which contains provider plugins and modules
.terraform/

# Ignore the dependency lock file. This is optional, but often recommended for private projects.
.terraform.lock.hcl

# Provider-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# All text files
*.txt

# All note directories
notes/
/notes/